:root{
  --primary: #1b1b32;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary);
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.App-logo-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.App-logo{
  height: 50px;
}

/*button*/

button{
  width: 250px;
  height: 80px;
  font-family:Roboto, sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #00471b;
}

.button-click{
  background-color: #002ead;
}

.button-restart{
  background-color: #5a01a7;
}


/*counter*/

.counter{
  min-width: 300px;
  height: 300px;
  font-size: 160px;
  padding: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #fff;
  margin-bottom: 15px;
}